.container {
  display: flex;
  margin: 0 auto;
  flex-direction :row-reverse;
  justify-content: center ;
  width: 1000px;
  height: 600px;
  padding-top: 30px;
  border: 1px solid #34495e;
  background-color: cornsilk;
}

.block{
display: block;
  width: 400px;
  height: 60px;
  background-color: #34495e;
}
.container__block1{
  margin-bottom: 30px;
  background-color: #f0b522;
}